<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Annonser</h1>

<div th:each="companies:${allCompanies}">
    <div class="adDiv" th:if="${companies.getAds()!=null}" th:each="ad : ${companies.getAds()}">
        <h1 th:text="${ad.getName()}"></h1>
        <h2 th:text="${companies.getName()}"></h2>
        <p th:text="${ad.getDescription()}"></p>
    </div>
</div>
</body>
</html>
<style>
    body{
        background: mistyrose;
    }
    .adDiv{
        padding: 15px;
        margin-top: 20px;
        background: white;
    }
</style>