<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Annonser</title>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<h1>Annonser</h1>

<div class="whitebackground" th:each="company:${allCompanies}">
    <div th:each="ad : ${company.ads}">
        <h1 th:text="${ad.name}"></h1>
        <h2 th:text="${company.name}"></h2>
        <p th:text="${ad.description}"></p>
    </div>
</div>

<div th:insert="footer :: foot"></div>
</body>
</html>