<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Add Company Form</title>
    <div th:replace="header :: myheader"></div>
</head>

<body>
<h1>Create Company</h1>
<form action="/api/companies/newcompany" method="post" th:object="${company}">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}"><br>

    <label for="website">Website:</label><br>
    <input type="text" id="website" name="website" th:field="*{website}"><br>

    <label for="mail">Email:</label><br>
    <input type="email" id="mail" name="mail" th:field="*{email}"><br>

    <input type="submit" value="Create">
</form>
<div th:insert="footer :: foot"></div>
</body>

</html>

