<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="footer" th:fragment="foot">
    <div class="AboutUs">
      <h2>
        Om oss
      </h2>
      <p>
        Vi är ett par studenter på IT-högskolan som har gjort en sida för att koppla samman företag och studenter på yrkeshögskolor.
        Eftersom redskapet som vår lärare presenterade för oss inte fungerade felfritt så har vi nu skapat en ny och förbättrad version.
      </p>
    </div>
    <div class="Contact">
      <h2>
        Kontakt
      </h2>
      <ul>
        <li>meri2ios@gmail.com</li>
        <li>@meri2ios</li>
      </ul>
    </div>
  </div>
</body>
</html>

