<!DOCTYPE html>
<html lang="en">
<head>
  <link th:href="@{/style/style.css}" rel="stylesheet" />
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
  <div th:replace="header :: myheader" th:with="authentication"></div>

  <h2>Links</h2>

    <a href="http://localhost:8080/ads">Hit kan du gå</a>
    <a href="http://localhost:8080/newstudent" th:if="${authentication != null}">Hit kan du gå om du är inloggad</a>
    <a href="http://localhost:8080/newcompany" th:if="${authentication != null}">Hit kan du gå om du vill</a>
    <a href="http://localhost:8080/newad" th:if="${authentication != null}">Hit kan du gå om du är ett inloggat företag</a>

  <div th:insert="footer :: foot"></div>
</body>
</html>