<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Add Student Form</title>
    <div th:replace="header :: myheader"></div>
</head>

<body>

<h1>Create Student</h1>
<form action="/api/students/newstudent" method="post" th:object="${student}">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}"><br>

    <label for="program">Program:</label><br>
    <input type="text" id="program" name="program" th:field="*{program}"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:field="*{email}"><br>

    <input type="submit" value="Create">
</form>

<div th:insert="footer :: foot"></div>

</body>

</html>

